<div class="rentals">
    <label>
    <span>Where would you like to stay?</span>
    <div class="search-button">
        <Input @value={{this.query}} 
            class="light" 
            {{on 'keyup' this.updateButtonState}}/>

        <button type="button" class="button-class" 
            disabled = {{this.isButtonDisabled}}
            {{on 'click' this.clearQuery}} 
            title="{{if this.isButtonDisabled "disabled" "enabled" }}">
            Clear
        </button>
    </div>
    
  </label>
    
    <ul class="results">
        <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |results|>
      {{#each results as |rental|}}
        <li><Rental @rental={{rental}} /></li>
      {{/each}}
    </Rentals::Filter>
    </ul>
</div>